body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color:#000000;
}
svg {
    width: 100%;
    height: 100%;
}
span {
    z-index:100;
    position:absolute;
    color:#8a6bee;
    font-size:10vmin;
    font-family:'Dosis',sans-serif;
    bottom:5vmin;
    right:5vmin;
}